@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #92e0f694;
    /*test*/
}

.welcome {
    img {
        position: relative;
        width: 100%;
    }

    .centered-text {
        position: absolute;
        top: 200px;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 100%;
    }
}

.about {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
    border-image-slice: 1;
    margin: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    .about-img{

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
}

.skills {
    margin: 25px 0px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        text-align: center;
    }
}

.contact {
    margin: 25px 0px;
    /*display: flex;
    flex-wrap: wrap;*/
}

footer{
    p{
    text-align: center;
    }
}